body, html{
   background: url(Konoha.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;/*Esto fue sacado de css-tricks, es un articulo*/
}
h1{
    padding-top: 5rem;
    width: 100%;
    height: 100%;
    font-family: "satisfy", cursive;
    color: deeppink;
    font-size: 3rem;
}
.buffer{
    height: 10rem;
}
hr{
    margin: 10px auto;
    color: rgb(238, 87, 28);
    border:1px solid rgb(238, 87, 28);
    max-width: 75px;
    opacity: 1;
}
.btn{
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;/*Todo esto hace que el boton sea redondo*/
}
.btn-danger{
    background-color: rgb(238, 147, 87);
    border-color: rgb(238, 147, 87);
}
.btn-danger:hover{
    background-color: rgb(238, 87, 28);
    border-color: rgb(238, 87, 28);
    border-width: 4px;
}
.btn-xl{
    padding: 1rem 2rem;
}